/* Large Mobile */
@media screen and (max-width: 576px) {
    

    /* Shared styles */
    .signInBtn, .rogueBtn, .btnKnown{
        padding: 15px 30px;
    }
    .rogueBtn{
        margin-left: 10px;
    }


    
    /* Nav Bar styles */
    .nav-content{
        width: 100%;
        flex-direction: column;
    }
    .mainNav{
        flex-direction: column;
        margin-top: 30px;
    }
    .mainNav li{
        margin-top: 20px;
    }



    /* Banner section style */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        padding: 100px 20px;
        height: auto;
    }
    .banner-img{
        margin: 0 auto;
    }
    .banner-img img{
        width: 100%;
    }



    /* Main section styles */


        /* We are gamer section styles */
    .gamer{
        width: 100%;
    }
    .gamer-container{
        width: 100%;
        padding: 0 15px;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-img img{
        width: 100%;
    }
    .gamer-content{
        width: 100%;
        text-align: center;
    }



    /* online games section */
    .online-game-container{
        width: 100%;
        padding: 0 15px;
    }
    .games-container{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .card{
        width: 100%;
    }



    /* Play game section style */
    .play-game-container{
        flex-direction: column;
        padding: 0 15px;
    }
    .text-container{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .img-container{
        width: 100%;
    }
    .img-container div{
        width: 90%;
        margin: 0 auto;
    }
    .secondary-img{
        width: 35%;
        top: 230px;
        left: -30px;
    }
}









/* Tablet device */
@media screen and (min-width: 577px) and (max-width: 900px) {
    body{
        padding: 0 20px;
    }
    /* Nav bar style */
    .nav-content{
        width: 90%;
    }



    /* Banner section style */
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        padding: 100px 150px;
        height: auto;
    }
    .banner-img{
        margin: 0 auto;
    }
    

    /* Main section styles */


        /* We are gamer section styles */
        .gamer{
            width: 100%;
        }
        .gamer-container{
            width: 100%;
            flex-direction: column;
        }
        .gamer-img img{
            width: 100%;
        }
        .gamer-content{
            width: 100%;
            text-align: center;
        }


        /* online games section */
        .online-game-container{
            width: 100%;
            padding: 0 15px;
        }
        .games-container{
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 50px;
        }
        .card{
            width: 100%;
        }
            /* Play game section style */
    .play-game-container{
        flex-direction: column;
        padding: 0 15px;
    }
    .text-container{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .img-container{
        width: 100%;
    }
    .img-container div{
        width: 90%;
        margin: 0 auto;
    }
    .secondary-img{
        width: 35%;
        top: 480px;
        left: -30px;
    }
}