@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Shared styles */
.signInBtn, .rogueBtn, .btnKnown{
    padding: 20px 40px;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}
.signInBtn, .btnKnown{
    background: var(--linear, linear-gradient(90deg, #ee6aae 0%, #e41a82 100%));
}
.banner-title, .gamer-title{
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    font-size: 90px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navBar{
    width: 100%;
}



/* Nav bar style */
.nav-content{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo-container{
    display: flex;
    align-items: center;
}

.logo-container h1{
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
}

.logo-container span{
    color: #FF42A5;
}

.mainNav{
    display: flex;
    align-items: center;
}
.mainNav li{
    margin-left: 32px;
    list-style: none;
}
.mainNav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3c354f;
}
.mainNav li button{
    font-size: 18px;
    font-weight: 500;
    padding: 16px 25px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mainNav li button i{
    margin-left: 16px;
}




/* Banner section style */
.banner{
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.banner-content{
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 208px 350px 0 200px;
}
.banner-sub-title{
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0B0223;
}
.banner-title{
    font-size: 90px;
}
.banner-list{
    margin-top: 24px;
    margin-bottom: 40px;
}
.banner-list div{
    display: flex;
    align-items: center;
}
.banner-list div{
    font-size: 20px;
}
.banner div p{
    margin-left: 10px;
    font-weight: 500;
}
.rogueBtn{
    background: var(--linear, linear-gradient(90deg, #75caee 0%, #1bb0f0 100%));
    margin-left: 20px;
}
.banner-img{
    margin-right: 200px;
}




/* Main section styles */


/* We are gamer section styles */
.gamer{
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.gamer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamer-content{
    width: 520px;
    text-align: end;
}
.gamer-title{
    font-size: 48px;
}
.gamer-description{
    font-size: 18px;
    color: #534c64;
    margin: 30px 0;
    line-height: 30px;
}
.our-purpose{
    font-size: 24px;
    font-weight: 500;
    color: #534c64;
    margin-top: 24px;
}
.our-purpose span{
    font-size: 30px;
    font-weight: 700;
    color: rgb(39, 39, 39);
    line-height: 45px;
}